{% extends 'base.html' %}
{%block title%}Fakultet haqida{% endblock%}
{% block content %}

    <section class="content">
        <h2>Fakultet haqida</h2>
        <p>Fakultetimiz ilmiy tadqiqot va texnologik yangiliklar bilan shug'ullanadi. U zamonaviy texnologiyalar va fan sohasida talabalarga bilim beradi.</p>
        <h3>Ma'lumotlar</h3>
        <ul>
            <li>Fakultet 1990 yilda tashkil etilgan.</li>
            <li>O'qituvchilarimiz - malakali mutaxassislar.</li>
            <li>Talabalarimiz turli fanlarda yuqori natijalarga erishmoqdalar.</li>
        </ul>
    </section>
{% endblock %}